##### בסיעתא דשמיא

In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
df = pd.read_csv('./data/dataset.csv')
df.head()

,Unnamed: 0,pixel_0,pixel_1,pixel_2,pixel_3,pixel_4,pixel_5,pixel_6,pixel_7,pixel_8,...,pixel_3064,pixel_3065,pixel_3066,pixel_3067,pixel_3068,pixel_3069,pixel_3070,pixel_3071,label,source
0,0,59,62,63,43,46,45,50,48,43,...,184,140,151,118,84,123,92,72,6,cifar-10
1,1,154,177,187,126,137,136,105,104,95,...,133,139,143,134,142,143,133,144,9,cifar-10
2,2,255,255,255,253,253,253,253,253,253,...,85,83,79,85,83,80,86,84,9,cifar-10
3,3,28,25,10,37,34,19,38,35,20,...,47,28,63,56,37,72,65,46,4,cifar-10
4,4,170,180,198,168,178,196,177,185,203,...,79,82,71,75,78,73,77,80,1,cifar-10

In [5]:
# X - pixels of images
pixels = [col for col in df.columns if col.startswith('pixel')]
X = df[pixels]

In [6]:
# Y - labels
y = df['label']

In [15]:
# const a random_state variable
random_state = 0
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=random_state)

In [17]:
X_train.shape

(51750, 3072)

In [18]:
X_test.shape

(17250, 3072)

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
from sklearn.preprocessing import MinMaxScaler

In [21]:
# StandardScaler() - Standardize features by removing the mean and scaling to unit variance.

In [22]:
scaler = MinMaxScaler()

In [27]:
X_train_norm = pd.DataFrame(scaler.fit_transform(X_train_norm), columns=pixels)

In [28]:
X_train_norm.head()

,pixel_0,pixel_1,pixel_2,pixel_3,pixel_4,pixel_5,pixel_6,pixel_7,pixel_8,pixel_9,...,pixel_3062,pixel_3063,pixel_3064,pixel_3065,pixel_3066,pixel_3067,pixel_3068,pixel_3069,pixel_3070,pixel_3071
0,0.760784,0.760784,0.760784,0.788235,0.788235,0.788235,0.815686,0.815686,0.815686,0.831373,...,0.639216,0.521569,0.525490,0.513725,0.631373,0.635294,0.619608,0.784314,0.800000,0.796078
1,0.607843,0.713725,0.909804,0.596078,0.698039,0.894118,0.596078,0.698039,0.894118,0.596078,...,0.305882,0.227451,0.278431,0.333333,0.219608,0.266667,0.317647,0.203922,0.250980,0.317647
2,0.262745,0.364706,0.396078,0.223529,0.290196,0.309804,0.164706,0.231373,0.223529,0.149020,...,0.490196,0.133333,0.309804,0.203922,0.035294,0.337255,0.188235,0.094118,0.392157,0.250980
3,0.996078,0.996078,0.996078,0.988235,0.988235,0.988235,0.992157,0.992157,0.992157,0.992157,...,0.647059,0.584314,0.600000,0.631373,0.607843,0.611765,0.635294,0.619608,0.627451,0.643137
4,0.905882,0.929412,0.921569,0.901961,0.925490,0.917647,0.901961,0.925490,0.917647,0.901961,...,0.949020,0.945098,0.952941,0.949020,0.945098,0.949020,0.949020,0.952941,0.960784,0.956863

In [12]:
standard_scaler = StandardScaler()

In [29]:
df_standarized = pd.DataFrame(standard_scaler.fit_transform(X_train_norm), columns=pixels)
df_standarized.head()

,pixel_0,pixel_1,pixel_2,pixel_3,pixel_4,pixel_5,pixel_6,pixel_7,pixel_8,pixel_9,...,pixel_3062,pixel_3063,pixel_3064,pixel_3065,pixel_3066,pixel_3067,pixel_3068,pixel_3069,pixel_3070,pixel_3071
0,0.852538,0.786366,0.752200,0.963972,0.898745,0.852355,1.049553,0.986774,0.931843,1.100116,...,0.785140,0.120679,0.162811,0.298237,0.553958,0.610254,0.702347,1.137998,1.259775,1.356718
1,0.327671,0.623465,1.218021,0.296143,0.582490,1.186660,0.284329,0.573060,1.179929,0.277623,...,-0.504404,-1.032392,-0.843543,-0.397884,-1.052710,-0.883737,-0.455914,-1.101862,-0.938961,-0.457691
2,-0.856643,-0.584720,-0.387836,-0.998626,-0.847535,-0.658209,-1.218789,-1.068005,-0.941206,-1.285113,...,0.208638,-1.401374,-0.715752,-0.897275,-1.771885,-0.597653,-0.952311,-1.525620,-0.373572,-0.710518
3,1.660025,1.600873,1.487707,1.659059,1.600008,1.483820,1.664464,1.607344,1.490036,1.662153,...,0.815482,0.366667,0.466315,0.752228,0.462149,0.514893,0.762516,0.502362,0.568744,0.776702
4,1.350488,1.370096,1.254797,1.359218,1.380004,1.260950,1.350176,1.372907,1.254355,1.346864,...,1.983657,1.781101,1.903964,1.978007,1.778087,1.881735,1.965904,1.788769,1.903691,1.966479

In [30]:
# Normalization & Standarization for test set