In [23]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("./data/dataset.csv")
df.head(5)

,pixel_0,pixel_1,pixel_2,pixel_3,pixel_4,pixel_5,pixel_6,pixel_7,pixel_8,pixel_9,...,pixel_3064,pixel_3065,pixel_3066,pixel_3067,pixel_3068,pixel_3069,pixel_3070,pixel_3071,label,source
0,59,62,63,43,46,45,50,48,43,68,...,184,140,151,118,84,123,92,72,6,cifar-10
1,154,177,187,126,137,136,105,104,95,102,...,133,139,143,134,142,143,133,144,9,cifar-10
2,255,255,255,253,253,253,253,253,253,253,...,85,83,79,85,83,80,86,84,9,cifar-10
3,28,25,10,37,34,19,38,35,20,42,...,47,28,63,56,37,72,65,46,4,cifar-10
4,170,180,198,168,178,196,177,185,203,183,...,79,82,71,75,78,73,77,80,1,cifar-10

In [3]:
X = df.iloc[:, :-2]
y = np.array(df['label'])

source = np.array(df["source"])

### Split into train and test

In [29]:
# Split into train & test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=66)
# Split into train & validation
X_train, X_validation, y_train, y_validation = train_test_split(X_train, y_train, test_size=0.2, random_state=66)

### Standardization

In [30]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_validation_scaled = scaler.transform(X_validation)
X_test_scaled = scaler.transform(X_test)